extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/table-tree.pug

block main 
    h1 Danh mục sản phẩm 


    .card.mb-3 
        .card-header Bộ lọc và tìm kiếm 
            .card-body 
                .row 
                    .col-6
                        +filter-status(filterStatus)
                    .col-6
                        +search(keyWord)
                         
    .card.mb-3 
        .card-header Danh mục sản phẩm
        .card-body 
            .card-body 
                .row 
                    .col-4 
                        a(
                            href=`${prefixAdmin}/products-category/create`
                            class="btn btn-outline-success"
                        )     + Thêm mới

            table(
                class="table table-hover table-sm "
                checkbox-multi
            )
                thead 
                    tr 
                        th 
                            input(type="checkbox" name="checkall")
                        th STT 
                        th Hình ảnh 
                        th Tiêu đề
                        th Trạng thái 
                        th Hành động
                tbody 
                    +table-tree(record)
                    