header.header 
    .container 
        .row.align-items-center
            .col-3
                .inner-logo 
                    a(href="/")
                        img(src="/images/actvn_big_icon.png",alt="Logo ")

            .col-9
                .inner-menu 
                    ul 
                        li 
                            a(href="/") Trang chu 
                        li 
                            a(href="/products")  San pham
                        if(user)
                            li
                                a(href = "/user/logout") Đăng xuất
                        else    
                            li 
                                a(href = "/user/register") Đăng ký
                                a(href = "/user/login")    Đăng nhập          
